<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Axios-->
   <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
  
  <!-- Vue -->
  <script src='https://unpkg.com/vue@3'></script> 
  <title>Document</title>
  <style>
    body{
      text-align: center;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>
      {{ msg }}
    </h1>
    <div v-if="isLoading">
      <h3>Giocatore : {{ Giocatore_1 }}</h3>
    <h3>CPU : {{ CPU }}</h3>
    <h2 v-if="Giocatore_1 > CPU">HAI VINTO</h2>
    <h2 v-else-if="Giocatore_1 === CPU">PAREGGIO</h2>
    <h2 v-else>HAI PERSO</h2>
    </div>
    <div v-else> Loading...</div>
  </div>
  <script src="script.js"></script>
</body>
</html>